
.DS_Store
.ipynb_checkpoints/Bayesian-Inference-checkpoint.ipynb
.ipynb_checkpoints/Bayesian-Risk-Modelling-checkpoint.ipynb
.ipynb_checkpoints/Bayesian_Inference-checkpoint.ipynb
.ipynb_checkpoints/FAIR-Risk-Modelling-checkpoint.ipynb
.ipynb_checkpoints/Risk-Comparison-checkpoint.ipynb
.ipynb_checkpoints/Simple-Risk-Modelling-checkpoint.ipynb
